<nav style="background-color: #c47179;" class="navbar navbar-expand-lg sticky-top navbar-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand">
        <a style="color: white; font-weight: 700; font-size: larger; margin-left: 20px;" class="navbar-brand" href="/">
         <img style= "width: 50px; height: 50px;" src= "../assets/android-chrome-192x192.png" alt="heart-icon"> Kirbify
        </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar ml-auto">
      <li class="nav-item">
        <a style="color:black; background-color: white;" class="btn" id="login" role="button" href="http://localhost:8888/login">Log in</a>
      </li>
    </ul>
  </nav>
<main class="container-fluid">
	<router-outlet></router-outlet>
</main>
